<div class="main-layout">
  <app-sidebar></app-sidebar>

  <div class="container">
    <h1>Programaciones Registradas</h1>
    <table>
      <thead>
        <tr>
          <th>Código de Planificación</th>
          <th>Nombre del Equipo</th>
          <th>Área</th>
          <th>Responsable</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Fin</th>
          <th>Descripción</th>
          <th>Borrar Programación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of programaciones">
          <td>{{ p.cod_plan }}</td>
          <td>{{ p.equipo }}</td>
          <td>{{ p.area}}</td>
          <td>{{ p.responsable }}</td>
          <td>{{ p.fecha_inicio }}</td>
          <td>{{ p.fecha_fin || '—' }}</td>
          <td>{{ p.descripcion }}</td>
          <td>
            <button class="btn-borrar" (click)="borrarProgramacion(p.cod_plan)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
