<div class="layout-container">
    <div class="main-content">
    <h1>GESTIÓN DE TRANSPORTE</h1>

    <div class="card-container">
        <div class="card">
        <h3>ÓRDENES DE TRANSPORTE</h3>
        <p>Ver listado y detalle de órdenes</p>
        <button routerLink="/gestion-transporte/ordenes" class="btn btn-purple">Ir a Órdenes</button>
        </div>

        <div class="card">
        <h3>GUÍAS DE REMISIÓN</h3>
        <p>Visualiza las guías asociadas a órdenes</p>
        <button routerLink="/gestion-transporte/guias" class="btn btn-purple">Ir a Guías</button>
        </div>

        <div class="card">
        <h3>INFORMES DE ENTREGA</h3>
        <p>Consultar entregas realizadas</p>
        <button routerLink="/gestion-transporte/informes" class="btn btn-purple">Ir a Informes</button>
        </div>

        <div class="card">
        <h3>REPORTES DE INCIDENTES</h3>
        <p>Visualiza problemas o incidentes</p>
        <button routerLink="/gestion-transporte/incidentes" class="btn btn-purple">Ir a Incidentes</button>
        </div>
        <div class="card">
        <h3>SEGUIMIENTO</h3>
        <p>Consulta ubicación y estado en tiempo real</p>
        <button routerLink="/gestion-transporte/seguimiento" class="btn btn-purple">Ir a Seguimiento</button>
        </div>

    </div>
    </div>
</div>

