<div class="layout-container">

  <div class="main-content">
    <h1 class="gestion-equipos-title">GESTIÓN DE EQUIPOS</h1>

    <div class="card-container">
      <div class="card">
        <h3>EQUIPOS REGISTRADOS</h3>
        <p>Visualiza: Lista y detalles de equipos</p>
        <button class="btn btn-green" routerLink="/equipos-registrados">Ir a Equipos Registrados</button>
      </div>

      <div class="card">
        <h3>VISUALIZAR PROGRAMACIONES</h3>
        <p>Mira programaciones</p>
        <button class="btn btn-aqua" routerLink="/visualizar-programaciones">Ir a Registrar Nuevos Equipos o actualizar</button>
      </div>

      <div class="card">
        <h3>PROGRAMAR ASIGNACIÓN DE EQUIPOS</h3>
        <p>Agendar uso de equipos</p>
        <button class="btn btn-purple" routerLink="/planificacion-equipos">Ir a Programar Asignaciones</button>
      </div>

      <div class="card">
        <h3>PROGRAMACIÓN DE MANTENIMIENTO DE EQUIPOS</h3>
        <p>Ver servicios y reparaciones previas</p>
        <button class="btn btn-yellow" routerLink="/programacion-mantenimiento">Ir a Programación de Mantenimiento</button>
      </div>

      <div class="card">
        <h3>HISTORIAL DE EQUIPOS</h3>
        <p>Genera reporte con estado, mantenimientos y historial.</p>
        <button class="btn btn-pink" routerLink="/historial-equipos">Ir a Generar Reporte de Equipos</button>
      </div>
    </div>
  </div>
</div>
