<div class="menu-container">
  <h2 class="menu-title">MENU</h2>
  
  <div class="menu-items">
    <a routerLink="/planificacion-logistica" class="menu-item">
      PLANIFICACION LOGISTICA
    </a>
    
    <a routerLink="/gestion-transporte" class="menu-item">
      GESTION TRANSPORTE
    </a>
    
    <a routerLink="/trazabilidad" class="menu-item">
      TRAZABILIDAD
    </a>
    
    <a routerLink="/gestion-equipos" class="menu-item">
      GESTION EQUIPOS
    </a>
    
    <a routerLink="/preparacion-pedidos" class="menu-item">
      PREPARACION PEDIDOS
    </a>
    
    <a routerLink="/control-inventarios" class="menu-item">
      CONTROL INVENTARIOS
    </a>
    
    <a href="/dashboard-recepcion" class="menu-item">
      RECEPCION
    </a>
  </div>
</div>