<div class="layout-container">

    <div class="main-content">
      <h1 class="inventario-title">Módulo de Gestión de Inventario</h1>
  
      <div class="card-container">
        <div class="card">
          <h3>Registro de Movimientos de Inventario</h3>
          <p>Accede al registro y visualización de movimiento de inventarios.</p>
          <button class="btn btn-green" (click)="irA('visualizar-movimientos-inventario')">Ir</button>
        </div>
  
        <div class="card">
          <h3>Control de Stock</h3>
          <p>Gestiona el control del Stock de Productos.</p>
          <button class="btn btn-aqua" (click)="irA('visualizar-stock')">Ir</button>
        </div>
  
        <div class="card">
          <h3>Reportes de Inventario</h3>
          <p>Registro de reportes de inventario realizadas.</p>
          <button class="btn btn-purple" (click)="irA('visualizar-reportes-inventario')">Ir</button>
        </div>
      </div>
    </div>
  </div>
  